<footer>
  <div class="contain gutter--horizontal">
    <ul>
      <li>Site created with 🦆 by <a class="txt--bold" href="https://github.com/rubberdvcky"
          target="_blank">rubberdvcky</a>
      </li>
      <li>
        Granblue Fantasy content and
        materials are
        trademarks and copyrights of Cygames, Inc. or its
        licensors. All rights reserved.
      </li>
      <li class="txt--light">
        <a href="mailto:dvckyyyy@gmail.com" target="_blank">CONTACT</a>
      </li>
    </ul>
  </div>
</footer>
