<div class="contain gutter--vertical">
  <section class="hero">
    <img class="mascot" src="assets/cagliosled01.png">
    <header class="title txt--right">
      <span class="txt--xxxl">Granblue</span><br>
      <span class="txt--xxxl txt--regular">Crew</span>
      <span class="txt--xxxl txt--light">Finder</span>
      <div class="divisor"></div>
      <p class="txt--xl txt--right txt--regular">Sled on to the crew of your dreams!</p>
    </header>
  </section>
  <section class="instructions gutter--horizontal">
    <article class="card">
      <h3>How it Works</h3>
      <img src="assets/monacar.png">
    </article>
    <article class="card">
      <h3>Latest Posts</h3>
      <img src="assets/lyrianito.png">
    </article>
    <article class="card">
      <h3>Join the Party</h3>
      <img src="assets/seruelzilla.png">
    </article>
  </section>
</div>
