<div class="gutter--all">
  <header class="pals">
    <div class="pals__lads">
      <img src="assets/cag01.png" />
      <img src="assets/cag02.png" />
      <img src="assets/cag03.png" />
    </div>
    <ul class="btn--multiple">
      <li class="btn selected">Crews</li>
      <li class="btn">Players</li>
    </ul>
  </header>
  <section class="card search">
    <form class="form gutter--vertical">
      <div
        class="search__input border-radius--m form__group form__group--row-nowrap"
      >
        <div class="searchbar">
          <button type="button" class="btn">
            <img src="assets/icons/search.svg" />
          </button>
          <input type="text" placeholder="Search" />
        </div>
      </div>
      <div
        class="search__filters gutter--vertical txt--bold border-radius--m txt--s"
      >
        <div class="form__group form__group--row-wrap">
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Granblue ID</label>
            <input id="checkbox-granblue" type="checkbox" />
            <label for="checkbox-granblue"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Discord</label>
            <input id="checkbox-discord" type="checkbox" />
            <label for="checkbox-discord"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Twitter</label>
            <input id="checkbox-twitter" type="checkbox" />
            <label for="checkbox-twitter"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Email</label>
            <input id="checkbox-email" type="checkbox" />
            <label for="checkbox-email"></label>
          </div>
        </div>
        <div class="form__group form__group--row-wrap">
          <div class="form__group form__group--row-nowrap search__filter--num">
            <label>Min Rank</label>
            <input type="number" placeholder="0" />
          </div>
          <div class="form__group form__group--row-nowrap search__filter--num">
            <label>Max Rank</label>
            <input type="number" placeholder="0" />
          </div>
        </div>
        <div class="badges">
          <span class="badge inactive">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge badge--green">Badge</span>
          <span class="badge badge--yellow inactive">Badge</span>
          <span class="badge badge--red">Badge</span>
        </div>
      </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      <li *ngFor="let post of posts">
        <app-card-pal-new></app-card-pal-new>
      </li>
    </ul>
  </section>
</div>
