.pals {
  &__lads {
    display: grid;
    grid-template-columns: repeat(6, 4rem);
    grid-template-rows: 1fr;
    justify-content: center;

    &>img {

      &:nth-child(2) {
        z-index: 1;
      }

      transition: opacity 1s ease-in-out;
    }

    &--solo>img:not(:nth-child(2)) {
      opacity: 0;
    }
  }
}

.search {

  &__input {
    background-color: var(--gray-2);
    margin-bottom: 0;

    &>.searchbar {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
    }
  }

  &__filters {
    padding: var(--s-m);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    background-color: var(--gray-1);

    &>* {
      justify-content: flex-end;
    }
  }

  &__filter {

    &--num,
    &--cbx {
      align-items: center;
    }

    &--num>input[type="number"] {
      max-width: 5rem;
      border-color: var(--gray-3);
    }

    &--cbx>input[type="checkbox"]+label {
      margin: auto;
      border-color: var(--gray-3);

      &::after {
        background-color: var(--gray-3);
      }
    }
  }
}

.posts {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: var(--s-l);
    justify-content: stretch;

    &>* {
      padding: var(--s-m);
    }
  }
}
