.pals {
  &__lads {
    display: grid;
    grid-template-columns: repeat(6, 4rem);
    grid-template-rows: 1fr;
    justify-content: center;

    & > img {
      &:nth-child(2) {
        z-index: 1;
      }

      transition: opacity 1s ease-in-out;
    }

    &--solo > img:not(:nth-child(2)) {
      opacity: 0;
    }
  }
}

.search {
  &__input {
    background-color: var(--gray-2);

    & > .searchbar {
      border: none;
    }
  }

  &__filters {
    & > * {
      justify-content: flex-end;
    }
  }

  &__filter {
    &--num,
    &--cbx {
      align-items: center;
    }

    &--num > input[type='number'] {
      max-width: 5rem;
      border-color: var(--gray-3);
    }

    &--cbx > input[type='checkbox'] + label {
      //margin: auto;
      border-color: var(--gray-3);

      &::after {
        background-color: var(--gray-3);
      }
    }
  }
}

.badges {
  text-align: right;
}

.posts {
  overflow: hidden;
  ul {
    margin-bottom: calc(-1 * var(--s-l));

    li {
      margin-bottom: var(--s-l);
    }
  }
}

@supports (display: grid) {
  @media (min-width: 550px) {
    .posts {
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: var(--s-l);
        gap: var(--s-l);
        justify-content: stretch;
        margin-bottom: 0;

        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
