<div class="gutter--all">
  <section class="search">
    <form class="form">
      <div class="search__input border-radius--m form__group form__group--row-nowrap">
        <div class="searchbar">
          <button type="button" class="btn">
            <img src="assets/icons/search.svg" />
          </button>
          <input type="text" placeholder="Search" />
        </div>
      </div>
      <div class="search__filters txt--bold border-radius--m txt--s">
        <div class="form__group form__group--row-wrap">
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Granblue ID:</label>
            <input id="checkbox-granblue" type="checkbox" />
            <label for="checkbox-granblue"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Discord</label>
            <input id="checkbox-discord" type="checkbox" />
            <label for="checkbox-discord"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Twitter</label>
            <input id="checkbox-twitter" type="checkbox" />
            <label for="checkbox-twitter"></label>
          </div>
          <div class="form__group form__group--row-nowrap search__filter--cbx">
            <label>Email</label>
            <input id="checkbox-email" type="checkbox" />
            <label for="checkbox-email"></label>
          </div>
        </div>
        <div class="form__group form__group--row-wrap">
          <div class=" form__group form__group--row-nowrap search__filter--num">
            <label>Min Rank</label>
            <input type="number" placeholder="0" />
          </div>
          <div class="form__group form__group--row-nowrap search__filter--num">
            <label>Max Rank</label>
            <input type="number" placeholder="0" />
          </div>
        </div>
        <div class="form__group form__group--row-wrap">
          <span class="badge inactive">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge">Badge</span>
          <span class="badge badge--green">Badge</span>
          <span class="badge badge--yellow inactive">Badge</span>
          <span class="badge badge--red">Badge</span>
        </div>
      </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      <li class="card" *ngFor="let post of posts">
        <app-card-pal></app-card-pal>
      </li>
    </ul>
  </section>
</div>
