<div class="gutter--all">
  <section class="search">
    <form class="form">
      <div class="form__group form__group--row-nowrap">
        <div class="searchbar">
          <button type="button" class="btn">
            <img src="assets/icons/search.svg" />
          </button>
          <input type="text" placeholder="Search" />
        </div>
        <button type="button" class="btn">
          <img src="assets/icons/arrow-down.svg" />
        </button>
      </div>
      <div class="form__group form__group--row-wrap">
        <div class="form__group txt--s search-filter">
          <label>Min Rank</label>
          <input type="number" placeholder="0" />
        </div>
        <div class="form__group txt--s search-filter">
          <label>Max Rank</label>
          <input type="number" placeholder="0" />
        </div>
        <div class="form__group txt--s search-filter">
          <label>ID</label>
          <input type="number" placeholder="0" />
        </div>
        <div class="form__group txt--s search-filter">
          <label>Discord</label>
          <input type="number" placeholder="0" />
        </div>
        <div class="form__group txt--s search-filter">
          <label>Twitter</label>
          <input type="number" placeholder="0" />
        </div>
        <div class="form__group txt--s search-filter">
          <label>Email</label>
          <input type="number" placeholder="0" />
        </div>
      </div>
      <div class="tags">
        <span class="badge inactive">Badge</span>
        <span class="badge">Badge</span>
        <span class="badge">Badge</span>
        <span class="badge">Badge</span>
        <span class="badge">Badge</span>
        <span class="badge badge--green">Badge</span>
        <span class="badge badge--yellow inactive">Badge</span>
        <span class="badge badge--red">Badge</span>
      </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      <li class="card" *ngFor="let post of posts">
        <app-card-pal></app-card-pal>
      </li>
    </ul>
  </section>
</div>
