.search {

  &__input {
    background-color: var(--gray-2);
    margin-bottom: 0;

    &>.searchbar {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
    }
  }

  &__filters {
    padding: var(--s-s);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    background-color: hsla(225, 16%, 21%, 1);

    &>* {
      justify-content: flex-end;
    }
  }

  &__filter {

    &--num,
    &--cbx {
      align-items: center;
    }

    &--num>input[type="number"] {
      max-width: 5rem;
      border-color: var(--gray-2);
    }

    &--cbx>input[type="checkbox"]+label {
      margin: auto;
      border-color: var(--gray-2);

      &::after {
        background-color: var(--gray-2);
      }
    }
  }
}

.posts {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: var(--s-l);
    justify-content: stretch;

    &>* {
      padding: var(--s-m);
    }
  }
}
