<div class="card">
  <div class="logo">
    <img height="64" width="64" src="assets/logo.png" />
  </div>
  <h3 class="title">
    Excepteur et voluptate duis culpa
  </h3>
  <h4 class="subtitle">Rank 220</h4>
  <p class="description">
    Anim qui nisi reprehenderit enim aute cupidatat ad enim ex ea qui. Ex
    ullamco culpa pariatur voluptate incididunt culpa pariatur ipsum amet
    tempor. Proident laboris excepteur dolore elit veniam reprehenderit
    voluptate excepteur incididunt qui non eu. Culpa exercitation est qui
    consequat culpa fugiat voluptate ex labore excepteur laborum qui
    adipisicing. Minim ea irure minim anim ullamco consequat nostrud proident
    adipisicing et magna est. Cupidatat aliquip quis cupidatat consequat.
  </p>
  <footer class="badges">
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
    <span class="badge">
      Badge
    </span>
  </footer>
</div>
