<div class="contain">
  <div class="gutter--all">
    <section class="hero">
      <img class="mascot" src="assets/cagliosled01.png">
      <header class="title txt--right">
        <span class="txt--xxxl">Granblue</span><br>
        <span class="txt--xxxl txt--regular">Pals</span>
        <div class="divisor"></div>
        <p class="txt--xl txt--right txt--regular">The crew of your dreams only a sled away!</p>
      </header>
    </section>
    <section class="instructions gutter--horizontal">
      <article class="card">
        <h3>How it Works</h3>
        <img src="assets/monacar.png">
      </article>
      <article class="card">
        <h3>Latest Posts</h3>
        <img src="assets/lyrianito.png">
      </article>
      <article class="card">
        <h3>Join the Party</h3>
        <img src="assets/seruelzilla.png">
      </article>
    </section>
  </div>
</div>
