.card {
  display: grid;
  gap: var(--s-xl);
  grid-gap: var(--s-xl);
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'emojis emojis'
    'logo title'
    'subtitle subtitle'
    'about about'
    'tags tags';

  &--showcase {
    // logo showcase
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'emojis'
      'title'
      'logo'
      'subtitle'
      'about'
      'tags';

    &.card__title,
    &.card__subtitle {
      justify-self: center;
    }

    &.card__logo {
      width: 8rem;
    }
  }

  &__emojis {
    grid-area: emojis;
  }

  &__logo {
    width: 4rem;
    grid-area: logo;
  }

  &__title {
    grid-area: title;
    align-self: center;
  }

  &__subtitle {
    grid-area: subtitle;
  }

  &__about {
    grid-area: about;
  }

  &__tags {
    grid-area: tags;
    margin: -0.2rem;
  }

  &__logo,
  &__about,
  &__subtitle {
    justify-self: center;
  }

  &__logo,
  &__about,
  &__title {
    cursor: pointer;
  }
}
