<div class="card">
  <img class="card__logo border-radius" width="64" src="assets/logo.png">
  <h3 class="card__title txt--clip--2">Autevoluptate elit occaecat sit cillum voluptate et exercitation dolore ut esse
    minim. Exercitation irure occaecat esse cillum sit veniam aliqua elit. Laborum nostrud labore ipsum id ut
    consectetur sit. Id ex officia et non exercitation voluptate tempor voluptate voluptate. Consectetur consequat
    exercitation ullamco sint. Veniam anim anim do labore qui excepteur est laborum nostrud fugiat qui adipisicing.</h3>
  <p class="card__subtitle txt--s txt--bold">Rank 220</p>
  <p class="card__about txt--clip--4">
    Voluptate deserunt laborum elit nulla quis tempor proident id aute. Amet nulla ut incididunt deserunt esse do in
    excepteur incididunt mollit tempor esse. Labore enim proident aute ullamco enim in non eiusmod dolore magna aliquip
    amet ea occaecat. Ea nostrud deserunt ullamco labore sit. Elit aliqua consectetur laboris voluptate dolor irure.
  </p>
  <p class="card__tags">
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
  </p>
</div>
