<div class="card">
  <img class="card--logo border-radius" width="64" src="assets/logo.png">
  <h3 class="card--title txt--clip--2">Name</h3>
  <p class="card--subtitle txt--s txt--bold">Rank 220</p>
  <p class="card--about txt--clip--4">
    Voluptate deserunt laborum elit nulla quis tempor proident id aute. Amet nulla ut incididunt deserunt esse do in
    excepteur incididunt mollit tempor esse. Labore enim proident aute ullamco enim in non eiusmod dolore magna aliquip
    amet ea occaecat. Ea nostrud deserunt ullamco labore sit. Elit aliqua consectetur laboris voluptate dolor irure.
  </p>
  <p class="card--tags">
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
    <span class="badge">Badge</span>
  </p>
</div>
