.card {
  display: grid;
  gap: var(--s-xl);
  grid-template-columns: 4rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo title"
    "logo subtitle"
    "about about"
    "tags tags";

  &--showcase {
    // logo showcase
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "logo"
      "subtitle"
      "about"
      "tags";

    .card--logo,
    .card--title,
    .card--subtitle {
      justify-self: center;
    }

    .card--logo {
      width: 8rem;
    }
  }

  &--logo {
    width: 4rem;
    grid-area: logo;
  }

  &--title {
    grid-area: title;
    align-self: center;
  }

  &--subtitle {
    grid-area: subtitle;
  }

  &--about {
    grid-area: about;
    justify-self: center;
  }

  &--tags {
    grid-area: tags;
    margin: -.2rem;
  }
}
